 <div class="container mx-auto align-items-center mt-5">  
    <div class="row justify-content-between">
        <div class="col-4">
        <button type="button" class="btn-sm px-4" (click)="BackPage()">
                <span>Back</span>
        </button>
        </div>

        <div class="col-4">
            <input type="search" id="form1" class="form-control" placeholder="Search" [(ngModel)]="searchBox"/>
        </div>

        <div class="col-4">
        <button type="button" class="btn-sm px-4 float-right" (click)="NextPage()">
        <span>Next</span>
        </button>
        </div>
    </div>
</div>



<div class="Container" *ngIf="BookedEventDetails">
    <div class="row">
        <div class="col-lg-8 my-5" [ngStyle]="{margin:'auto'}">
            <table class="table table-hover table-striped">
                <thead>
                    <tr >
                        <th style="border-top-left-radius: 15px;" scope="col">Item Image</th>
                        <th scope="col">Food Name</th>
                        <th scope="col">category</th>
                        <th scope="col">price</th>
                        <th style="border-top-right-radius: 15px;" colspan="4">Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let item of BookedEventDetails | filter:searchBox">
                        <td><img class="Thumbnail" [src]="item.foodMenuImageURL" [alt]="item.foodMenuItems"></td>
                        <td>{{item.foodMenuItems}}</td>
                        <td>{{item.foodMenuType}}</td>
                        <td>{{item.foodMenuCost | currency}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="addtocart(item)">+
                              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<div class="Container" *ngIf="BookedEventDetails">
    <div class="row">
        <div class="col-lg-8 my-5" [ngStyle]="{margin:'auto'}">
            <table class="table table-hover table-striped">
                <thead>
                    <tr >
                        <th style="border-top-left-radius: 15px;" scope="col">Item Image</th>
                        <th scope="col">ItemName</th>
                        <th scope="col">category</th>
                        <th scope="col">price</th>
                        <th scope="col">Add Item to Cart</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">SubTotal</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let i=index;let item of BookedEventDetails | filter:searchBox">
                        <td><img class="Thumbnail" [src]="item.foodMenuImageURL" [alt]="item.foodMenuItems"></td>
                        <td>{{item.foodMenuItems}}</td>
                        <td>{{item.foodMenuType}}</td>
                        <td>{{item.foodMenuCost | currency}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="addtocart(item)">+</button>
                        </td>
                        <td>{{item.qty}}</td>
                        <td>{{item.foodMenuCost * item.qty | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->
