textarea.ng-touched.ng-invalid,Input.ng-touched.ng-invalid{
    border: 2px solid red;
    box-shadow: 2px 2px 10px rgba(245, 3, 3, 0.733);
}
.commentBox,input,select{
    margin-bottom: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}
img{
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    width: 350px;
    height: 300px;
}
.cont{
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}