<div class="login">
    <div class="form ">
      <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
        <div class="text-center">
            <h2>Login</h2>
        </div> <br>
        <div class="form-group">
            <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
            name="email" />
            <input type="password" id="password" placeholder="Password" class="form-control"
            formControlName="password" name="password"/>
            <button type="submit" id="submit" class="btn btn-primary w-100" value="Login" name="" >Submit</button>
        </div>
      </form>  
    </div>
  </div>
