.form-control::placeholder {
    color: white;
}

.form-control:focus {
    box-shadow: none;
    border: none;
    border-bottom: solid whitesmoke;
    background-color: transparent;
    outline: none;
}